<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <h2>Enter Categorie for a Product.</h2>
    <div>
      <form action="/" method="post">

        <label for="Name">Categorie </label>
        <input type="text" name="title" placeholder="Enter Categorie Name">

        <input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>
